Main_Text
{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding: 0px 15px 30px 15px;
    border: 1px solid #ccc;
    border-radius: 15px 30px 5px 40px;
    text-align: justify;
    line-height: 150%;
}
p
{
    --padding-top-bottom: 0em;
    margin-top: var(--padding-top-bottom);
    margin-bottom: var(--padding-top-bottom);
}
