#Header
{
    text-align: center;
    font-size: 20px;
    background-color: #ccf;
    text-shadow: 5px 5px 5px #b3ffe5;
}
#Navigation
{
    text-align: center;
    background-color: #b3ffe5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-shadow: 5px 5px 5px #ccf;
}
#Navigation ul
{
    display: flex;
}
#Navigation li
{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}
.Main_Text
{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding: 0px 15px 30px 15px;
    border: 1px solid #ccc;
    border-radius: 15px 30px 5px 40px;
    text-align: justify;
    line-height: 150%;
}
.Main_Text_Header
{
    text-align: center;
}
p
{
    --padding-top-bottom: 1.25em;
    margin-top: var(--padding-top-bottom);
    margin-bottom: var(--padding-top-bottom);
}

