.Header
{
    text-align: center;
    font-size: 20px;
    background-color: #FFFAFA;
}
.Navigation
{
    text-align: center;
    background-color: #FFFAFA;
    border-top: 1px solid #FFF5EE;
    border-bottom: 1px solid #FFF5EE;
    font-size: 26px;
}
.Navigation ul
{
    display: flex;
}
.Navigation li
{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.Navigation a
{
    display: block;
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    border-right: 1px solid #ccc;
}
.Navigation li:last-child a
{
    border-right: none; 
}
.Navigation a:hover
{
    animation-name: Select;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes Select
{
    from
    {
        font-size: 26px;
    }
    to
    {
        font-size: 32px;
    }
}
.Main_Text
{
    margin-left: 550px;
    margin-right: 100px;
    --Main-Text-Width: 900px;
    width: var(--Main-Text-Width);
    margin-top: 50px;
    padding: 0px 15px 30px 15px;
    border: 1px solid #ccc;
    border-radius: 15px 30px 5px 40px;
    text-align: justify;
    line-height: 150%;
    font-size: 18px;
}
.Main_Text_Header
{
    text-align: center;
}
p
{
    --padding-top-bottom: 1.25em;
    margin-top: var(--padding-top-bottom);
    margin-bottom: var(--padding-top-bottom);
}
.Sidebar
{
    float: left;
    margin-top: 50px;
    margin-left: 30px;
    padding: 0px 15px 30px 15px;
    border: 1px solid #ccc;
    border-radius: 15px 30px 5px 40px;
    text-align: justify;
    line-height: 150%;
    overflow-wrap: break-word;
    width: 450px;
}
.Highlighted_Text
{
    font-weight: bold;
}
.Button_Left
{
    float: left;
    margin-left: 10px;
}
.Button_Center
{
    margin-left: calc(var(--Main-Text-Width) /  2 - 50px);
}
.Button_Right
{
    float: right;
}
